*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial, sans-serif;
  background:#050816;
  color:white;
}

.app-container{
  min-height:100vh;
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

/* NAVBAR */

.navbar{
  width:100%;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:20px 40px;

  backdrop-filter:blur(6px);
}

.brand{
  display:flex;
  align-items:center;
  gap:15px;
}

.logo{
  width:70px;
}

.brand h1{
  font-size:28px;
  color:#00e5ff;
}

.brand p{
  color:#cccccc;
  font-size:14px;
}

.nav-links{
  display:flex;
  gap:30px;

  list-style:none;

  color:white;
  font-weight:bold;
}

.nav-links li{
  cursor:pointer;
  transition:0.3s;
}

.nav-links li:hover{
  color:#00e5ff;
}

/* HERO */

.hero{
  text-align:center;

  padding-top:80px;
  padding-bottom:60px;

  width:90%;
  margin:auto;
}

.hero h2{
  font-size:60px;

  color:white;

  text-shadow:0 0 20px #00e5ff;

  margin-bottom:20px;
}

.hero p{
  color:#d1d5db;

  font-size:20px;

  max-width:700px;

  margin:auto;

  line-height:1.7;
}

/* MAIN */

.main-content{
  width:95%;
  margin:auto;
}

/* MOBILE */

@media(max-width:768px){

  .navbar{
    flex-direction:column;
    gap:20px;
  }

  .nav-links{
    gap:15px;
    font-size:14px;
  }

  .hero h2{
    font-size:35px;
  }

  .hero p{
    font-size:16px;
  }

}